* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'mulish', sans-serif;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 6em;
}

body {
    background-color: #ffffff;
    color: black;
}

h1 {
    font-size: 3.5rem;
    font-weight: 400;
}

h2 {
    font-size: 3rem;
}

p {
    font-size: 18px;
    font-weight: 300;
}

#nav-container {
    width: 55%;
    margin: 0 auto;
    position: sticky;
    top: 2.5%;
    border-radius: 10px;
    z-index: 999;
    background-color: #f3f1f1;
}

#nav-container > i#listMenu {
    display: none;
}

#nav-container > .nav-bar {
    height: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#nav-container > .nav-bar > a {
    text-decoration: none;
    font-size: 1.3rem;
    color: black;
}

div#sidebar {
    display: none;
    padding-bottom: 16px;
    border-bottom: 1px solid black;
}

div#sidebar > ul {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 16px;
    list-style: none;
    padding: 16px;
    margin-top: 16px;
}

#home {
    width: 90%;
    margin: 12% auto 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2%;
    scroll-margin-top: 15em;
    text-align: left;
}

#home > img {
    width: 450px;
    height: 500px;
    border-radius: 50%;
}

#home > #homeText > h1 {
    margin-top: 10px;
    /* color: rgb(120, 140, 145); */
}

#about {
    margin: 20% auto 0 auto;
    width: 75%;
}

#about h1 {
    margin-bottom: 5%;
    text-align: center;
}

#about > #box {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    gap: 30px;
}

#about > #box > .text > #insideBox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#about > #box > .text > #insideBox > div {
    height: 300px;
    margin-top: 70px;
    padding: 10px;
    border-radius: 20px;
    background-color: #82d0e6;
}

#about > #box > .text > #insideBox > div h2 {
    margin-bottom: 10px;
    font-size: 3rem; 
    font-weight: 350;
    border-bottom: 1px solid rgb(112, 81, 81);
}
#about > #box > .text > #insideBox > .experience > div > ul li {
    padding-top: 5px;
    list-style: none;
}

#about > #box > .img img {
    width: 450px;
    height: 95%;
    border-radius: 20px;
}

#projects {
    width: 50%;
    margin: 5% auto 0 auto;
}

#projects > h1 {
    margin-bottom: 10%;
    text-align: center;
}

#projects > #container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2%;
}

/* Common styles for all projects div */
#projects > #container > #left > div,
#projects > #container > #right > div {
    margin-top: 5%;
    padding: 45px 30px;
    width: 400px;
    border-radius: 30px;
    background-color: #f3f1f1;
    background-size: 270px;
    background-position: center;
    background-position-y: 200px;
    background-repeat: no-repeat;
    transition: all 0.4s ease-in-out;
}

#projects > #container > div h3 {
    margin-bottom: 7%;
    font-size: 25px;
    font-weight: 450;
}

#projects > #container > div button {
    margin: 10px 0 0 120px;
    padding: 5px;   
    cursor: pointer;
    color: #00a0dc;
    border-color: #5abff5;
}

/* Specific background images and positions */
#projects > #container > #left > .left-one {
    background-image: url(assets/pacman.png);
    background-position-y: 200px;
}

#projects > #container > #left > .left-two {
    background-image: url(assets/taskapp.png);
    background-position-y: 200px;
}

#projects > #container > #right > .right-one {
    background-image: url(assets/quotegenerator.png);
    background-position-y: 200px;
}

#projects > #container > #right > .right-two {
    background-image: url(assets/passwordgenerator.png);
    background-position-y: 230px;
}

/* #projects > #container > #left > div:hover,
#projects > #container > #right > div:hover {
    filter: brightness(30%); 
} */

#skills {
    width: 80%;
    margin: 10% auto;
}

#skills h1 {
    margin-bottom: 10%;
    text-align: center;
}

#skills > #skillContainer .skill {
    margin: 50px 0;
}

#skills > #skillContainer > .skill > .skill-name {
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
}

#skills > #logoSkills {
    display: flex;
    justify-content: center;
    gap: 10%;
}

#skills > #logoSkills > img {
    width: 70px;
    height: 70px;
}

#skills > #skillContainer > .skill > .skill-bar {
    width: 100%;
    background-color: gray;
    height: 10px;
    border-radius: 5px;
    overflow: hidden;
}

#skills > #skillContainer > .skill > .skill-bar > .skill-level {
    height: 100%;
    background-color: orange;
}

footer {
    width: 100%;
    height: 400px;
    margin-top: 11%;
    background-color: #e6e2e2;;
}

footer h1 {
    padding-top: 2%;
    text-align: center;
}

footer > #social-media {
    padding-top: 4%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

footer > #social-media > div {
    width: 20%;
    height: 90px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    border: 0;
    border-radius: 20px;
    outline: 0;
}

footer > #social-media > div.instagram,
footer > #social-media > div.linkedin,
footer > #social-media > div.github,
footer > #social-media > div.gmail {
    background: #f3f1f1;
}

footer > #social-media > div:hover {
    color: white;
}

footer > #social-media > div.instagram:hover {
    background: linear-gradient(90deg, #feda75, #fa7e1e, #d62976, #962fbf, #4f5bd5);
}

footer > #social-media > div.linkedin:hover {
    background: linear-gradient(45deg, #0077b5, #00a0dc);
}

footer > #social-media > div.github:hover {
    background: linear-gradient(90deg, #24292e,#2b3137);
}

footer > #social-media > div.gmail:hover {
    background: linear-gradient(90deg, #ff4343, #ff5d5d, #b9b5b5);
}

footer > #social-media > div > img {
    width: 50px;
    height: 50px;
    margin: 17px 0 20px 15px;
}

footer > #social-media > div > h3 {
    height: 30px;
    margin: 20px 0 0 10px;
}

footer > p {
    text-align: center;
    margin: 80px auto;
}

@media (max-width: 470px) {
    
    #nav-container {
        width: 100%;
        height: 50px;
        background-color: #1d1a1a;
        border-radius: 0;
        top: 0;
    }

    #nav-container > i#listMenu {
        display: block;
        font-size: 30px;
        text-align: right;
        padding: 5px 10px 10px 0;
    }

    #nav-container > .nav-bar{
        display: none;
    }

    div#sidebar {
        display: block;
    }
}