* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'mulish', sans-serif;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 6em;
}

body {
    background-color: #181818;
    color: white;
}

h2 {
    font-size: 3rem;
}

p {
    font-size: 16px;
    font-weight: 200;
}

#nav-container {
    width: 55%;
    margin: 0 auto;
    position: sticky;
    top: 2.5%;
    border-radius: 10px;
    z-index: 999;
    background-color: rgb(120, 140, 145);
}

#nav-container > i#listMenu {
    display: none;
}

#nav-container > .nav-bar {
    height: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#nav-container > .nav-bar > a {
    color: white;
    text-decoration: none;
    font-size: 1.3rem;
}

div#sidebar {
    display: none;
    padding-bottom: 16px;
    border-bottom: 1px solid black;
}

div#sidebar > ul {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 16px;
    list-style: none;
    padding: 16px;
    margin-top: 16px;
}

#home {
    width: 90%;
    margin: 13% auto 0 auto;
    scroll-margin-top: 15em;
    text-align: center;
}

#home > img {
    width: 200px;
    height: 235px;
    margin-bottom: 20px;
    border-radius: 45%;
}

#home > h1 {
    margin-top: 10px;
    font-size: 3.5rem;
    font-weight: 400;
    /* color: rgb(120, 140, 145); */
}

#home > p {
    margin-top: 30px;
    font-size: 16px;
    font-weight: 200;
}

#about {
    margin: 20% auto 0 auto;
    width: 75%;
}

#about h1 {
    margin-bottom: 5%;
    text-align: center;
    font-size: 3.5rem;
    font-weight: 400;
}

#about > #box {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

#about > #box > .text .fun-facts {
    height: 300px;
    margin-top: 100px;
    background-color: aqua;
}

#about > #box > .img img {
    width: 450px;
    height: 95%;
    border-radius: 20px;
}

#projects {
    width: 50%;
    margin: 5% auto 0 auto;
}

#projects > h1 {
    margin-bottom: 10%;
    font-size: 3.5rem;
    text-align: center;
    font-weight: 400;
}

#projects > #container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2%;
}

#projects > #container > #left > div,
#projects > #container > #right > div {
    margin-top: 7%;
    padding: 45px 30px;
    width: 350px;
    border-radius: 30px;
    background-color: #0f0f0f;
}

#projects > #container > div h3 {
    margin-bottom: 5%;
}

#skills {
    width: 80%;
    margin: 10% auto;
}

#skills h1 {
    margin-bottom: 10%;
    text-align: center;
    font-size: 3.5rem;
    font-weight: 400;
}

#skills > #skillContainer .skill {
    margin: 50px 0;
}

#skills > #skillContainer > .skill > .skill-name {
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
}

#skills > #logoSkills {
    display: flex;
    justify-content: center;
    gap: 10%;
}

#skills > #logoSkills > img {
    width: 70px;
    height: 70px;
}

#skills > #skillContainer > .skill > .skill-bar {
    width: 100%;
    background-color: gray;
    height: 10px;
    border-radius: 5px;
    overflow: hidden;
}

#skills > #skillContainer > .skill > .skill-bar > .skill-level {
    height: 100%;
    background-color: orange;
}

footer {
    margin: 11% auto 1% auto;
    width: 80%;
}

footer > h1 {
    margin-bottom: 3%;
    text-align: center;
    font-size: 3.5rem;
    font-weight: 400;
}

footer > #social-media {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

footer > #social-media > div {
    width: 20%;
    height: 90px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    border: 0;
    border-radius: 20px;
    outline: 0;
    background-color: aqua;
}

footer > #social-media > div > img {
    width: 50px;
    height: 50px;
    margin: 17px 0 20px 15px;
}

footer > #social-media > div > h3 {
    height: 30px;
    margin: 20px 0 0 10px;
}

footer > p {
    text-align: center;
    margin: 25px auto;
}

@media (max-width: 470px) {
    
    #nav-container {
        width: 100%;
        height: 50px;
        background-color: #1d1a1a;
        border-radius: 0;
        top: 0;
    }

    #nav-container > i#listMenu {
        display: block;
        font-size: 30px;
        text-align: right;
        padding: 5px 10px 10px 0;
    }

    #nav-container > .nav-bar{
        display: none;
    }

    div#sidebar {
        display: block;
    }
}